* {
    padding: 0;
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

body {
    background: #0686bd;
}
button, input{
    border: none;
    outline: none;
    cursor: pointer;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
}
.app .btnOne {
    padding: 10px 30px;
    background: rgba(54, 168, 6, 0.93);
    border-radius: 5px;
    margin: 10px 20px;
}
.app .btnTwo {
    padding: 10px 30px;
    background: rgba(185, 6, 6, 0.93);
    border-radius: 5px;
     margin: 10px 10px;
 }